:root {
  --event-etail-pri: #4eabc4;
  --event-etail-pri-900: #101a33;
  --event-etail-sec: #f69c6f;
  --event-etail-tert: #ab224e;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.hero-title-border {
  border: 3px solid var(--event-etail-pri);
}

.hero-cross-promo h1 {
  color: var(--event-etail-pri);
}

.hero-cross-promo picture {
  display: none;
}

.road {
  background-color: var(--event-etail-pri-900);
  min-width: 10vmax;
  --mask: radial-gradient(4vw at 5.63vw 50%, #000 99%, #0000 101%) 0 calc(50% - 5vw) / 51% 10vw repeat-y,
    radial-gradient(4vw at -3.13vw 50%, #0000 99%, #000 101%) 2.5vw 50% / calc(51% - 2.5vw) 10vw repeat-y,
    radial-gradient(4vw at calc(100% - 5.63vw) 50%, #000 99%, #0000 101%) 100% 50%/51% 10vw repeat-y,
    radial-gradient(4vw at calc(100% + 3.13vw) 50%, #0000 99%, #000 101%) calc(100% - 2.5vw) calc(50% - 5vw) /
      calc(51% - 2.5vw) 10vw repeat-y;
  mask: var(--mask);
}
.road-dashes {
  position: relative;
}
.road-dashes:after {
  position: absolute;
  content: '';
  inset: 0;
  background-image: radial-gradient(ellipse, #ffffff 2px, #ffffff 2px, transparent 3px);
  background-size: 50px 50px;
  background-position: 50% 50%;
}

.road-icons img {
  max-width: 100px;
}
.road-icons-circle {
  max-width: 50px;
  aspect-ratio: 3/3;
}

.road-icons-circle span {
  text-shadow: 1px 1px 0.1em var(--dark);
}

@media (min-width: 768px) {
  .hero-cross-promo picture {
    display: grid;
    justify-items: center;
  }
  .hero-cross-promo picture img {
    grid-row: 1;
    grid-column: 1;
    max-width: inherit;
  }
  .hero-cross-promo picture img:first-child {
    border: 25px solid transparent;
    outline: 10px solid var(--event-etail-pri);
    z-index: 9999;
  }
  .hero-cross-promo picture img:last-child {
    margin-top: 15em;
    margin-left: 10em;
  }

  .road {
    height: 10vmax;
    --mask: radial-gradient(4vw at 50% 5.63vw, #000 99%, #0000 101%) calc(50% - 5vw) 0/10vw 51% repeat-x,
      radial-gradient(4vw at 50% -3.13vw, #0000 99%, #000 101%) 50% 2.5vw/10vw calc(51% - 2.5vw) repeat-x,
      radial-gradient(4vw at 50% calc(100% - 5.63vw), #000 99%, #0000 101%) 50% 100%/10vw 51% repeat-x,
      radial-gradient(4vw at 50% calc(100% + 3.13vw), #0000 99%, #000 101%) calc(50% - 5vw) calc(100% - 2.5vw) / 10vw
        calc(51% - 2.5vw) repeat-x;
  }

  .road-dashes:after {
    background-repeat: repeat-x;
  }

  .road-icons-circle {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .hero-cta-heading {
    gap: 0.25em;
  }

  .hero-cta-left {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  .hero-cta-right {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .hero-cta-left {
    font-size: 8.1vmax;
  }
  .hero-cta-right {
    font-size: 3vmax;
  }
}
